@font-face {
    font-family: 'Yekan';
    src: url('./fonts/Yekan.eot');
    src: url('./fonts/Yekan.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Yekan.woff2') format('woff2'),
        url('./fonts/Yekan.woff') format('woff'),
        url('./fonts/Yekan.ttf') format('truetype'),
        url('./fonts/Yekan.svg#Yekan') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Yekan Bakh FaNum;
    font-style: normal;
    font-weight: 100;
    src: url('./fonts/YekanBakhFaNum/woff/YekanBakhFaNum-thin.woff') format('woff'),
        url('./fonts/YekanBakhFaNum/woff2/YekanBakhFaNum-thin.woff2') format('woff2');
}

@font-face {
    font-family: Yekan Bakh FaNum;
    font-style: normal;
    font-weight: 300;
    src: url('./fonts/YekanBakhFaNum/woff/YekanBakhFaNum-Light.woff') format('woff'),
        url('./fonts/YekanBakhFaNum/woff2/YekanBakhFaNum-Light.woff2') format('woff2');
}

@font-face {
    font-family: Yekan Bakh FaNum;
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/YekanBakhFaNum/woff/YekanBakhFaNum-Regular.woff') format('woff'),
        url('./fonts/YekanBakhFaNum/woff2/YekanBakhFaNum-Regular.woff2') format('woff2');
}

@font-face {
    font-family: Yekan Bakh FaNum;
    font-style: normal;
    font-weight: 600;
    src: url('./fonts/YekanBakhFaNum/woff/YekanBakhFaNum-SemiBold.woff') format('woff'),
        url('./fonts/YekanBakhFaNum/woff2/YekanBakhFaNum-SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: Yekan Bakh FaNum;
    font-style: normal;
    font-weight: bold;
    src: url('./fonts/YekanBakhFaNum/woff/YekanBakhFaNum-Bold.woff') format('woff'),
        url('./fonts/YekanBakhFaNum/woff2/YekanBakhFaNum-Bold.woff2') format('woff2');
}

@font-face {
    font-family: Yekan Bakh FaNum;
    font-style: normal;
    font-weight: 800;
    src: url('./fonts/YekanBakhFaNum/woff/Yekan Bakh FaNum-ExtraBold.woff') format('woff'),
        url('./fonts/YekanBakhFaNum/woff2/Yekan Bakh FaNum-ExtraBold.woff2') format('woff2');
}

@font-face {
    font-family: Yekan Bakh FaNum;
    font-style: normal;
    font-weight: 900;
    src: url('./fonts/YekanBakhFaNum/woff/Yekan Bakh FaNum-Black.woff') format('woff'),
        url('./fonts/YekanBakhFaNum/woff2/Yekan Bakh FaNum-Black.woff2') format('woff2');
}

@font-face {
    font-family: Yekan Bakh FaNum;
    font-style: normal;
    font-weight: 950;
    src: url('./fonts/YekanBakhFaNum/woff/Yekan Bakh FaNum-ExtraBlack.woff') format('woff'),
        url('./fonts/YekanBakhFaNum/woff2/Yekan Bakh FaNum-ExtraBlack.woff2') format('woff2');
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
input {
    font-family: 'Yekan', 'Yekan Bakh FaNum' !important;
}

.logo {
    width: 130px;
    height: 70px;
    object-fit: contain;
    max-width: 300px;
    display: block;
    position: relative;
}

a.navbar-brand {
    position: relative;
    max-width: 300px;
}

header form {
    position: relative;
    width: 100%;
}
.nav-link {

font-weight: 700 !important;
line-height: 26px;
text-align: left;
color: var(--Color, #017072) !important;
margin-left: 1rem;

}
header form input[type='text'] {
    background-color: rgba(244, 244, 244, 1);
    font-size: 14px;
    color: rgba(100, 100, 100, 1);
    width: 100%;
    border: none;
    height: 46px;
    border-radius: 25px;
    padding: 1rem;
    text-indent: 32px;
}

header form button[type='submit'] {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    background-color: transparent;

}

header .menu {
    font-weight: 600; 
    font-size: 15px;
    margin-top: 1rem;
    color: #333;
    text-decoration: none
}

header .menu a {
    margin: 0;
    font-weight: 600;
    font-size: 15px;
    color: #017072;
    text-decoration: none;
 


}

header .menu ul {
    padding: 0;
}

header .menu li {
    padding-left: 1.5rem;
}

header .menu li a.active {
    color: rgba(247, 166, 47) !important;
    background-color: #f7a72f36 !important;
    border-radius: 50px;
    padding: 8px 13px !important;
}

header .menu .shoppingcard ul {
    margin: 0 !important;
}

header .menu .shoppingcard li::before {
    content: '';

}

header .menu .shoppingcard li::after {
    content: '';

}

header .menu .shoppingcard .cart-icon {
 
}
header .menu .shoppingcard .user-icon {
    background-color: #fff;
    padding: 5px;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 5px;
}

header .menu .shoppingcard .minicart {
    background-color: #DB7108;
    border-radius: 30px;
    position: relative;
    color: #fff;
    min-width: 105px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 10px;
}

header .menu .shoppingcard  .quanity {
    position: absolute;
    background: var(--Color, #017072);
    font-size: 12px;
    color: #fff;
    border-radius: 30px;
    top: -3px;
    width: 10px;
    height: 10px;
    right:0;
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 11px;
}

.title {
    font-weight: 600;
    font-size: 26px;
    color: #000
}


footer {
    min-height: 300px;
    background-color: transparent;
    background-image: linear-gradient(159deg, #4DCBD3 4%, #007C7E 63%);
}

footer h2 {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

footer ul {
    list-style: none;
    padding: 0;

}

footer ul li {
    padding: 7px
}

footer ul li a {
    color: #fff;
    font-size: 16px;
    font-weight: 400;

}

.ftanimate svg {
    bottom: -9rem;
    position: relative;
    z-index: -1;
}

i {
    font-family: FontAwesome !important;
    font-weight: 900;
    font-style: normal;
}

.headerslider img {
    width: 100%;
}

/* .headerslider  .swiper-slide{
padding: 1rem; */
/* } */
.headerslider .swiper-button-next,
.headerslider .swiper-button-prev {
    color: #000;
}

.headerslider .swiper-button-next::after,
.headerslider .swiper-button-prev::after {
    font-size: 25px;
}

.headerslider {
    min-height: 496px;
    display: block;
}

.headerslider .swiper-slide .item {
    background-size: cover;
    background-position: center;
    min-height: 496px;
    position: relative;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: baseline;
    padding: 5rem
}

.headerslider * {
    margin-left: auto;
}

.headerslider h2 {
    color: #017072;
    font-size: 40px;
    font-weight: 900;
}

.headerslider h3 {
    color: #017072;
    font-size: 27px;
    font-weight: 900;
}

.headerslider p {
    color: #017072;
    font-size: 17px;
    font-weight: 400;
}

.headerslider a {
    transition: all 0.3s ease-in;
    opacity: 1;
    color: #fff;
    font-size:32px;
    font-weight: 700;
    background: #DB7108;
    padding: 10px;
    text-decoration: none;
    border-radius: 25px;
    height: 62px;
    display: inline-block;
    margin-top: 4rem;
}

.headerslider a:hover {
    transition: all 0.3s ease-in;
    opacity: 0.8;
}

.swiper-pagination {
    border-radius: 25px;
    width: fit-content !important;
    margin: auto;
    float: none;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 0px 5px;
    min-height: 20px;
    display: flex;
    align-items: center;
}

.swiper-pagination-bullet-active {
    background-color: #000 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.orderalert {
    min-height: 240px;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.orderalert h2 {
    color: #3d4f3e;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 2rem;
}

.orderalert p {
    color: #161616;
    background-color: #9cc2df !important;
    padding: 3px;
    border-radius: 10px;
}

.orderalert a {
    background-color: #F7A62F;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    padding: 12px 24px;
    text-decoration: none;
}
.bggray{
    background-color: #B1B1B11C;
}
.bggray a{
    color: #161616;
}
.blogslider a ,.bggray a{
    text-decoration: none !important;
}
.blogslider h5
{
  color:rgb(247,166,47);
  text-decoration: none;
  justify-content: center;
  margin: auto;
  padding-bottom: 1rem;
}
.blogslider p{
    color: #7f7f7f;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 1rem;
    min-height: 7rem;
    max-height: 6rem;
    overflow: hidden;
}
.blogslider img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    margin: auto;
    height: 250px;
}
.blogslider h2{
    font-size: 20px;
    font-weight: #474747;
}
.blogslider .card:hover .head{
    position: relative;
}
.blogslider .card .head::after{
    transition: all 0.3s ease-in;
    
    content: '';
    position: absolute;
    width: 100%;
    height: 205px;
        right: 0;
    left: 0;
    margin: auto;
    background-color: #00000033;
    opacity: 0;
}
.blogslider .card:hover .head::after{
    transition: all 0.3s ease-in;
    opacity: 1;

}
.counter{
    min-height: 511px;
}
.counter h2{
    font-size: 27px;
    color: #fff;
    font-weight: 700;
}
.counter p{
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    margin-top: 1rem;
    padding: 0;
}
.counter .items div{
    font-size: 13px;
    color: #fff;
    font-weight: 600;
    padding-left: 10px;
    }
.counter span{
    font-size: 24px;
    font-family: Yekan Bakh FaNum;
    color: #7f7f7f;
    background-color: #fff;
    min-width: 108px;
    min-height: 46px;
    max-height: 46px;
    max-width: fit-content;
    max-width: 108px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 16px;
}
.counter .items div{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
}
.blogsliderpaginate
{
    position: relative;
    width: 100px;
    height: 80px;
}
.blogsliderpaginate .swiper-button-next, .blogsliderpaginate .swiper-button-prev,.swiper-button-prev:after, .swiper-button-next:after{
    color: #000;
    font-size: 20px !important;
}
.swiper-pagination-clickable .swiper-pagination-bullet{
    min-width: 34px;
  height: 4px;
  border-radius: 0;
}
.mensec{
    background: #007A7D;

}
.mensec h2{

font-size: 64px;
font-weight: 600;
line-height: 83.2px;
text-align: left;
color: #FFFFFF;
}
.mensec p{
color: #fff;
font-size: 24px;
font-weight: 500;
line-height: 40px;
text-align: center;

}
.mensec .men
{
    background-image: url(http://127.0.0.1:8000/images/website/img.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}
.mensec .men ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%;
    top: -30px;
    position: relative;
  
}
.mensec .men ul li{
    margin: 0.5rem;
}
.mensec .men ul a{
    transition: all 0.5s ;
    font-size: 26px;
    font-weight: 500;
    line-height: 41.6px;
    text-align: right;
    color: #007C7E;
    background-color: #fff;
    white-space:nowrap;
    min-width: fit-content;
    max-width: fit-content;
    display: flex;
    text-decoration: none;
    padding: 0px 10px;
  border-radius: 25px;
  border-bottom: 1px solid #fff;
}
.mensec .men ul a:hover{
    transition: all 0.5s ;
    color: #fff;
    background-color: transparent;
    border-radius: 0;
}
.popular-products{
    background: #D9EEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-radius: 0 0 46% 54% / 50% 50% 15% 15%;
    margin-bottom: -12rem;
    position: relative;
    z-index: 9;
}
.popular-products h2{
    font-size: 64px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    color: #017072;
}